<p>Список планет</p>
<div>
    <table border="4" bordercolor="#000000" cellspacing="0" cellpadding="0"width= "400" height="150" align=center>
        <tr>
            <th>Наименование</th>
            <th>Диаметр, мм.</th>
            <th>Население, млн. чел.</th>
            <th>Действие</th>
        </tr>
        <tr *ngFor="let p of planets; index as i">
            <!--<td><app-planet-list-item [planet]="p"></app-planet-list-item></td>-->
            <td>
                {{p.name}}
            </td>
            <td>
                {{p.diameter}}
            </td>
            <td>
                {{p.population}}
            </td>
            <td>
                <button [disabled]="p.isDisabled" (click)="sendPlanet($event, p)">{{p.buttonName}}</button>
            </td>
            <!-- <td><app-planet-list-item [planet]="p"></app-planet-list-item></td> -->
        </tr>

        <!--<app-planet-list-item
            *ngFor="let p of planets"
            [planet]="p"
        ></app-planet-list-item>		[disabled]={{p.isDisabled}}-->
    </table>
</div>